.contact_container {
    margin: 0 auto;
    max-width: 1770px;
    margin-bottom: 60px;
}

.contacts_card {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 3px;
    padding: 40px;
}

.info_address {
    padding-left: 20px;
    background-image: url('./icons/location-marker.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.info_phone {
    padding-left: 20px;
    background-image: url('./icons/phone.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.info_email {
    padding-left: 20px;
    background-image: url('./icons/email.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.info_time {
    padding-left: 20px;
    background-image: url('./icons/time.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.contacts-logo-sm {
    width: 32px;
    margin-right: 7px;
}